@using Microsoft.AspNetCore.Identity
@using ShoppingStore.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IViewLocalizer Localizer

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>@await Component.InvokeAsync("CartSummary")</li>
            <li>
                <a class="nav-item" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">@Localizer["LogOut"]</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-item" asp-area="" asp-controller="Account" asp-action="Register">@Localizer["Register"]</a></li>
        <li><a class="nav-item" asp-area="" asp-controller="Account" asp-action="Login">@Localizer["LogIn"]</a></li>

    </ul>
}
