@using Microsoft.AspNetCore.Localization
@model Cart

@inject IViewLocalizer Localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var currentCulture = requestCulture.RequestCulture.Culture.Name;
    var cartLines = Model.GetCartLines.Where(l => l.Product.ProductId.EndsWith("_" + currentCulture) && l.User.UserName == User.Identity.Name);
}


<div class="">
    @if (cartLines.Count() > 0)
    {
        <small class="navbar-text">
            <b>Your cart:</b>
            @cartLines.Sum(x => x.Quantity) Item(s)
            @Model.ComputeTotalValue(currentCulture).ToString("c")
        </small>
    }
    <a class="btn btn-sm btn-default navbar-btn"
       asp-controller="Cart" asp-action="Index"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-cart"></i>
    </a>
</div>