@{
    ViewData["Title"] = "Access denied";
}
@inject IViewLocalizer Localizer
<header>
    <h2 class="text-danger">@Localizer["AccessDenied"]]</h2>
    <p class="text-danger">@Localizer["AccessDeniedMessage"]</p>
</header>
