@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2>@Localizer["ForgotPasswordConfirmation"]</h2>
<p>
    @Localizer["ForgotPasswordConfirmationMessage"]
</p>
