@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h2 class="text-danger>@Localizer["LockedOut"]</h2>
    <p class="text-danger">@Localizer["LockedOutMessage"]</p>
</header>
