@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    @Localizer["YourPasswordResetMessage"] <a asp-action="Login">@Localizer["ClickLogInMessage"]</a>.
</p>
